@import "bower_components/normalize.css/normalize";

$black: #000000;
$white: #FFFFFF;
$grid-gutter: 1.5em;

body {
  background-color: #E0E0E0;
}

a,
a:visited {
  color: $black;
  text-decoration: none;
}

.grid {
  display: flex;
  margin: -$grid-gutter 0 0 -$grid-gutter;
}

.grid-cell {
  flex: 1;
}

.sidebar {
  flex: 0 0 33.33333%;
  margin: $grid-gutter 0 0 $grid-gutter;
}

.main-content {
  flex: 1;
  margin: $grid-gutter 0 0 $grid-gutter;
}

.container {
  max-width: 60em;
  margin: 0 auto;
}

.panel {
  background-color: $white;
  border-bottom: 3px solid #c4c3c3;
  margin-bottom: 1em;
}

.panel__header {
  padding: 1em;
  background-color: #f7f7f7;
  text-align: center;
}

.panel__title {
  margin: 0;
  color: #252729;
  font-size: 1rem;
  text-transform: uppercase;
}

.panel__body {
  padding: 1em;
}

.site-header {
  margin-bottom: 2em;
}

.header {
  padding: 1.5em;
  background-color: #252729;
  color: $white;
  text-align: center;
}

.header__title {
  margin: 0;
}

.list-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-group__item {
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px #f7f7f7 solid;

  &:hover,
  &.active {
    background-color: #f7f7f7;
  }
}

.locations-list a {
  font-size: 0.8em;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
