@import "bower_components/normalize.css/normalize";

$black: #000000;
$white: #FFFFFF;
$grid-gutter: 1.5em;

body {
  background-color: #E0E0E0;
}

a,
a:visited {
  color: $black;
  text-decoration: none;
}

.grid {
  display: flex;
  margin: -$grid-gutter 0 0 -$grid-gutter;
}

.grid-cell {
  flex: 1;
}

.sidebar {
  flex: 0 0 33.33333%;
  margin: $grid-gutter 0 0 0;
}

.main-content {
  flex: 1;
  margin: $grid-gutter 0 0 $grid-gutter;
}

.container {
  max-width: 60em;
  margin: 0 auto;
}

.panel {
  background-color: $white;
  border-bottom: 3px solid #c4c3c3;
  margin-bottom: 1em;
}

.panel__header {
  padding: 1em;
  background-color: #f7f7f7;
  text-align: center;
}

.panel__title {
  margin: 0;
  color: #252729;
  font-size: 1rem;
  text-transform: uppercase;
}

.panel__body {
  padding: 1em;
}

.site-header {
  margin-bottom: 2em;
}

.header {
  padding: 1.5em;
  background-color: #252729;
  color: $white;
  margin: 0;
  border-bottom: 3px solid #AED064;

  .grid {
    margin: -0.5em 0 -0.5em;
    flex-wrap: wrap;
  }

  .header-left {
    flex-basis: auto;
  }

  .header-right {
    flex-basis: auto;
    text-align: right;
  }
}

.header__title {
  margin: 0;
}

.list-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-group__item {
  cursor: pointer;
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px #f7f7f7 solid;

  &:hover,
  &.active {
    background-color: #f7f7f7;
  }

  .city {
    color: #CCC;
  }
}

.search-result {
  .beer-name {
    font-weight: bold;
  }
  .brewery-name {
    font-style: italic;
  }
  .beer-style {
    color: #666;
    font-style: italic;
  }
  .beer-image {
  }
}

.locations-list a {
  font-size: 0.8em;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.facebook-login {
  float: right;
  margin-left: 1em;

  button,
  button:active
  button:focus {
    background-color: #445FAD;
    background-image: linear-gradient(rgb(76, 105, 186), rgb(59, 85, 160));
    border-color: #4c69ba;
    border-width: 1px;
    color: #ffffff;
    height: 30px;
    width: 85px;
    outline: none;
    padding-top: 6px;
    text-shadow: 0 -1px 0 #354c8c;

    &:hover {
      background-image: linear-gradient(rgb(91, 123, 213), rgb(72, 100, 177));
      border-bottom-color: #3b5998;
      border-left-color: #4961a8;
      border-right-color: #4961a8;
      border-top-color: #5874c3;
      box-shadow: inset 0 1px 0 #607fd6;
    }
  }

  img {
    height: 16px;
  }
}

#powered-by-brewerydb {
  max-height: 25px;
}

#built-by-greenfield {
  max-height: 30px;
  padding-top: 2px;
}

footer {
  margin-top: 25px;
}
