<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{model.name}}</h3>
  </div>
</div>

<div class="floors">
  {{#each model.floors as |floor|}}
    {{floor-panel floor=floor}}
  {{/each}}
</div>

{{outlet}}
