<div class="panel">
  <div class="panel__body">
    <h1 class="page-title">{{model.name}}</h1>
  </div>
</div>

<div class="floors">
  {{#each model.floors as |floor|}}
    {{floor-panel floor=floor}}
  {{/each}}
</div>

{{outlet}}
