<h1>{{model.name}}</h1>

<div class="floors">
  {{#each model.floors as |floor|}}
    <div class="floor">
      <h3>{{floor.name}}</h3>

      {{#each floor.beers as |beer|}}
        <div class="beers">
          <p class="beer">{{beer.name}}</p>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>

{{outlet}}
