{{input type="text" value=query key-up=(action 'search') placeholder="Search by name"}}

<div class="list-group">
  {{#each beers as |beer|}}
    <div {{action "select" beer}} class="list-group__item">
      {{beer.name}}
    </div>
  {{/each}}
</div>
