<div class="sidebar">
  <div class="panel">
    <div class="panel__header">
      <h1 class="panel__title">Locations</h1>
    </div>

    <div class="locations-list list-group">
      {{#each model as |location|}}
        {{link-to location.name "locations.location" location.id
          class="location list-group__item"}}
      {{/each}}
    </div>
  </div>
</div>

<div class="main-content">
  {{outlet}}
</div>
