<div class="sidebar">
  <div class="panel">
    <div class="panel__header">
      <h1 class="panel__title">Locations</h1>
    </div>

    <div class="locations-list list-group">
      {{#each model as |location|}}
        {{#link-to "locations.location" location.id}}
          <div class="location list-group__item">
            {{location.name}}
            <span class="city">
              {{location.city}}
            </span>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

<div class="main-content">
  {{outlet}}
</div>
